#header{
    border: 1px solid #111;
    display: flex;
    align-items: center;
    justify-content: space-around;
    justify-self: center;
    width: 70%;
    position: absolute;
    background-color: rgba(140, 201, 255, 0.589);
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
}